<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

<style>
/* btn with input */
.input-with-btn {
  	min-width: 163px;
  	height: 60px;
}

.register-input {
	width: 100%;
	height: 60px;
}

</style>

<script>
var emailVerifyCode = "";
var sendMailFlag = false;
var passwordResetFlag = false;

$(document).ready(function() {
	$("#email_auth_in").on("input focusout", function() {
		var emailAuthInput = $("#email_auth_in");
		
		if(emailVerifyCode == emailAuthInput.val() && sendMailFlag == true) {
			passwordResetFlag = true;
			emailAuthInput.css("border", "1px solid green");
			emailAuthInput.css("color", "green");
		} else {
			passwordResetFlag = false;
			emailAuthInput.css("border", "1px solid red");
			emailAuthInput.css("color", "red");
		}
	});
	
	$("#pw_reset_btn").on("click", function() {
		var emailInput = $("#email_in");
		var nameInput = $("#name_in");
		
		var resetPwParams = {
				email : emailInput.val(),
				name : nameInput.val()
		};
		
		if(passwordResetFlag == true) {
			
			$.ajax({
				method: "POST",
				url: "/members/email/resetPw",
				data: resetPwParams,
				beforeSend: function(xhr) {
		           var header = $("meta[name='_csrf_header']").attr("content");
		           var token = $("meta[name='_csrf']").attr("content");
		           xhr.setRequestHeader(header, token);
				},
				success: function(res) {
					if(res == true) {
						swal({
						  title: "비밀번호 초기화 성공",
						  text: "초기화된 비밀번호는 메일을 통해 확인할 수 있습니다. 5초후 자동으로 로그인페이지로 이동합니다.",
						  timer: 10000,
						  toast: true,
						  icon: "success"
						});
						
						setTimeout(function() { 
							location.href="/login";
						}, 5000);
					} else {
						swal({
							title: "비밀번호 초기화 실패",
							text: "비밀번호 초기화에 실패했습니다.",
						    timer: 3000,
						    toast: true,
							icon: "error",
						});
					}
				},
				error: function(request, status, error) {
					swal({
						title: "이메일 인증번호 전송 실패",
						text: "에러로 인해 이메일 인증번호 전송을 하지 못했습니다.",
					    timer: 3000,
					    toast: true,
						icon: "error",
					});
					
					return false;
				}
			});
			
		} else {
			swal({
			  title: "비밀번호 초기화 불가",
			  text: "이메일 인증이 완료되어야 비밀번호 초기화가 가능합니다.",
			  timer: 3000,
			  toast: true,
			  icon: "error"
			});
		}
	});
	
	// 이메일 인증번호 버튼 클릭
	$("#email_auth_btn").on("click", function() {
		var emailInput = $("#email_in");
		var nameInput = $("#name_in");
		var emailAuthInput = $("#email_auth_in");
		var emailAuthBtn = $("#email_auth_btn");
		
		// 이메일, 이흠 빈값 체크
		if(emailInput.val() == "") {
			swal({
			  title: "이메일 인증 전송 불가",
			  text: "이메일을 입력하셔야합니다.",
			  timer: 3000,
			  toast: true,
			  icon: "error"
			});
			
			return false;
		} else if(nameInput.val() == "") {
			swal({
			  title: "이메일 인증 전송 불가",
			  text: "이름을 입력하셔야합니다.",
			  timer: 3000,
			  toast: true,
			  icon: "error"
			});
			
			return false;
		}
		
		var emailVerifyParams = {
			email : emailInput.val(),
			name : nameInput.val()
		};
		
		// 데이터 조회
		$.ajax({
			method: "GET",
			url: "/members/email/checkAccountByResetPw",
			data: emailVerifyParams,
			beforeSend: function(xhr) {
	           var header = $("meta[name='_csrf_header']").attr("content");
	           var token = $("meta[name='_csrf']").attr("content");
	           xhr.setRequestHeader(header, token);
			},
			success: function(res) {
				if(res == true) {
					sendEmailByResetPw();
				} else {
					swal({
						title: "이메일 인증번호 전송 실패",
						text: "해당하는 계정이 없습니다.",
					    timer: 3000,
					    toast: true,
						icon: "error",
					});
				}
			},
			error: function(request, status, error) {
				swal({
					title: "이메일 인증번호 전송 실패",
					text: "에러로 인해 이메일 인증번호 전송을 하지 못했습니다.",
				    timer: 3000,
				    toast: true,
					icon: "error",
				});
				
				return false;
			}
		});
	});
	
});

function sendEmailByResetPw() {
	var emailInput = $("#email_in");
	var nameInput = $("#name_in");
	var emailAuthInput = $("#email_auth_in");
	var emailAuthBtn = $("#email_auth_btn");
	
	var emailVerifyParams = {
			emailAddress : emailInput.val()
	};
	
	// 이메일 인증 번호 전송
	$.ajax({
		method: "POST",
		url: "/members/email/emailVerify",
		data: emailVerifyParams,
		beforeSend: function(xhr) {
           var header = $("meta[name='_csrf_header']").attr("content");
           var token = $("meta[name='_csrf']").attr("content");
           xhr.setRequestHeader(header, token);
           
           // 로딩 버튼으로 변경하기
           emailAuthBtn.removeClass('pointer');
           emailAuthBtn.addClass('pointer-none');
           emailAuthBtn.attr("disabled", true);
           emailAuthBtn.empty();
           emailAuthBtn.append('<span class="spinner-border spinner-border-sm mr-2" aria-hidden="true"></span>');
           emailAuthBtn.append('<span>전송중 . .</span>');
		},
		success: function(res) {
			
			swal({
				title: "이메일 인증번호 전송 성공",
				text: "이메일 인증번호를 전송하였습니다. 확인해주세요.",
			    timer: 3000,
			    toast: true,
				icon: "info",
			});
			
			emailVerifyCode = res;
			sendMailFlag = true;

			emailInput.attr("disabled", true);
			emailInput.css("background", "transparent");
			
			nameInput.attr("disabled", true);
			nameInput.css("background", "transparent");
			
			emailAuthInput.attr("disabled", false);
			emailAuthInput.css("background", "transparent");
			emailAuthInput.css("border", "1px solid red");
			emailAuthInput.css("color", "red");
			
            // 기본 버튼으로 변경
            emailAuthBtn.removeClass('pointer-none');
            emailAuthBtn.addClass('pointer');
            emailAuthBtn.empty();
            emailAuthBtn.attr("disabled", false);
            emailAuthBtn.append('<span>이메일 인증</span>');
		},
		error: function(request, status, error) {
			swal({
				title: "이메일 인증번호 전송 실패",
				text: "에러로 인해 이메일 인증번호 전송을 하지 못했습니다.",
			    timer: 3000,
			    toast: true,
				icon: "error",
			});
			
            // 기본 버튼으로 변경
            emailAuthBtn.removeClass('pointer-none');
            emailAuthBtn.addClass('pointer');
            emailAuthBtn.empty();
            emailAuthBtn.attr("disabled", false);
            emailAuthBtn.append('<span>이메일 인증</span>');
		}
	});
}
</script>

<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md" style="max-width:690px; margin:0 auto;">
				<h4 class="ltext-103 cl2 txt-center p-b-20" style="font-weight:bold">
					비밀번호 초기화
				</h4>

				<!-- 이메일 -->
				<div class="m-tb-10">
					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<i id="email_icon" class="fa-solid fa-at"></i>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2" style="font-weight:bold">
								이메일
							</span>
							<span style="color:red">
								*
							</span>
						</div>
					</div>
					
					<div class="d-flex">
					  <div class="p-2 w-100">
					  	<input id="email_in"  type="text" name="email" class="register-input cl2 plh4 bor13 p-lr-20 m-tb-5" placeholder="이메일 입력" style="border-radius:0;">
					  </div>
					</div>

				</div>

				<!-- 이름 -->
				<div class="m-tb-10">
					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<i id="name_icon" class="fa-solid fa-user"></i>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2" style="font-weight:bold">
								이름
							</span>
							<span style="color:red">
								*
							</span>
						</div>
					</div>

					<div class="p-2 w-100">
						<input id="name_in" class="register-input cl2 plh4 bor13 p-lr-20 m-tb-5" type="text" name="name" placeholder="이름 입력" style="border-radius:0;">
					</div>
				</div>
				
				<div class="m-t-10 m-b-20">
					<div class="d-flex">
					  <div class="p-2 w-100">
					  	<input id="email_auth_in"  type="text" name="email" class="register-input cl2 plh4 bor13 p-lr-20 m-tb-5" placeholder="인증번호 입력" style="border-radius:0;" disabled="true">
					  </div>
					  <div class="p-2 flex-shrink-1">
						<button id="email_auth_btn" class="btn flex-c-m stext-101 cl2 input-with-btn bg8 bor13 p-lr-15 trans-04 pointer m-tb-5" 
								style="border-radius:0; font-weight:bold; background:#6495ED; color:white;">
							<span>이메일 인증</span>
						</button>
					  </div>
					</div>

					<div id="email_message" class="p-2"></div>
				</div>

				<button id="pw_reset_btn" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 p-lr-15 trans-04 pointer" style="font-weight:bold">
					비밀번호 초기화하기
				</button>
			</div>
		</div>
	</section>
</th:block>
</html>