
		<!-- Coupon -->
			<div class="container">
				<div class="first-coupon_list">
					<table class="coupon_list">
						<colgroup>
							<col width="20%"/>
							<col width="*"/>
							<col width="30%"/>
							<col width="30%"/>				
						</colgroup>
						<thead>
							<tr>
								<th scopl="col">쿠폰 이름</th>
								<th scopl="col">할인 가격</th>
								<th scopl="col">시작일</th>
								<th scopl="col">종료일</th>						
							</tr>				
						</thead>
						<tbody>
						<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
							<td th:text="${list.name}"></td>
							<td th:text="${list.price}"></td>
							<td th:text="${list.startDate}"></td>
							<td th:text="${list.endDate}"></td>
						</tr>
						
						<tr th:unless="${#lists.size(list)} > 0">
							<td colspan="4">조회된 결과가 없습니다.</td>
							
						</tr>
						</tbody>
	
					</table>
				</div>
	
				<div class="flex-c-m flex-w w-full p-t-45">
				<!-- Pagination -->
					<div class="flex-c-m flex-w w-full p-t-10 m-lr--7">
						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
							<
						</a>							
						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
							1
						</a>
		
						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
							2
						</a>
						
						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
							3
						</a>	
												
						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
							>
						</a>							
					</div>
				</div>
			</div>
