<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.dorothy.mapper.ItemMapper">

	
	<select id="selectItemList" resultType="com.ucamp.dorothy.domain.Item">
		<![CDATA[
		SELECT
				ID,
				NAME,
				PRICE,
				DESCRIPTION,
				IMAGE_MAIN AS IMAGEMAIN,
				ACTIVE_YN AS ACTIVEYN,
				RECOMM_YN AS RECOMMYN,
				INVENTORY,
				DISCOUNT,
			    CREATED_USER AS CREATEDUSER,
			    CREATED_DATE AS CREATEDDATE,
			    UPDATED_USER AS UPDATEDUSER,
			    UPDATED_DATE AS UPDATEDDATE,
				ITEM_CATEGORY_ID AS ITEMCATEGORYID
		FROM
				ITEM

					
		]]>		
	</select>
	

</mapper>