<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.dorothy.mapper.MemberMapper">
	<select id="list" resultType="com.ucamp.dorothy.domain.Member">
		<![CDATA[
		SELECT 
		    ID
		  , EMAIL
		  , PW
		  , NAME
		  , HP
		  , DELETE_YN AS DELETEYN
		  , AUTH
		  , CREATED_USER AS CREATEDUSER
		  , CREATED_DATE AS CREATEDDATE
		  , UPDATED_USER AS UPDATEDUSER
		  , UPDATED_DATE AS UPDATEDDATE
		FROM MEMBER
		ORDER BY ID DESC
		]]>
	</select>
	
	<insert id="register" parameterType="com.ucamp.dorothy.domain.Member">
		INSERT INTO MEMBER (
		    EMAIL
		  , PW
		  , NAME
		  , HP
		  , CREATED_USER
		  , CREATED_DATE
		) VALUES (
			#{email}
		  , #{pw}
		  , #{name}
		  , #{hp}
		  , #{email}
		  , now()
		)
	</insert>
	
	<insert id="save" parameterType="com.ucamp.dorothy.domain.Member">
		INSERT INTO MEMBER (
			 EMAIL
		   , NAME
		   , CREATED_USER
		   , CREATED_DATE
		) VALUES (
			#{email}
		  , #{name}
		  , #{email}
		  , now()
		)
	</insert>
	
	<select id="signIn" parameterType="String" resultType="com.ucamp.dorothy.domain.Member">
		SELECT ID, EMAIL, PW, NAME FROM MEMBER WHERE EMAIL = #{email}
	</select>
	
	<select id="emailDupCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(ID) FROM MEMBER WHERE EMAIL = #{email} LIMIT 1
	</select>
	
	<insert id="saveSendEmailHistory" parameterType="com.ucamp.dorothy.domain.SendEmailHistory">
		INSERT INTO SEND_EMAIL_HISTORY (
			  EMAIL_ADDRESS
			, SUBJECT
			, VERIFY_CODE
			, CONTENT
			, EMAIL_TYPE
			, CREATED_USER
			, CREATED_DATE
		) VALUES (
			  #{emailAddress}
			, #{subject}
			, #{verifyCode}
			, #{content}
			, '01'
			, #{createdUser}
			, now()
		)
	</insert>
	
	<select id="findByEmail" parameterType="String" resultType="com.ucamp.dorothy.domain.Member">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>	
	
	<select id="checkAccountByResetPw" parameterType="com.ucamp.dorothy.domain.Member" resultType="Integer">
		SELECT COUNT(ID) FROM MEMBER WHERE EMAIL=#{email} AND NAME=#{name}
	</select>
	
	<update id="updateResetPw" parameterType="com.ucamp.dorothy.domain.Member">
		UPDATE MEMBER SET
		  PW = #{pw}
		WHERE EMAIL=#{email} AND NAME=#{name}
	</update>
</mapper>