<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.dorothy.mapper.OrderMapper">

	
    <insert id="insertOrder" parameterType="com.ucamp.dorothy.domain.Order">
        INSERT INTO order (createdUser, createdDate, memberId) VALUES ('김지원', SYSDATE, 11);
    </insert>
	

</mapper>